.book {
	margin: 50px 0;
}
.form-contact-title {
	margin-bottom: 50px;
	text-align: center;
}
.main-book, .introduce-book {
	display: flex;
}
.main-book, .introduce-book {
	background-color: #f7f7f7;
	padding: 15px 0;
}
.main-book-form h4, .introduce-book-main h4 {
	text-align: center;
}
.main-book-img img, .introduce-book img {
	width: 100%;
}
.introduce-book-list {
	padding-left: 15px;
}

/*@media screen and (max-width: 768px){
	.introduce-book-img img, .main-book-img img{
		display: none;
	}
	.introduce-book-description{
		max-width: 100%;
	}
	
}
*/